.page-artist {
  div[class^="artist-"] {
    margin-bottom: 1.5rem;
    h2 {
      margin-bottom: 1rem;
    }
  }

  .artist {
    &-img {
      height: 20rem;
      background-position: center;
      background-size: cover;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
    }

    &-contacts {
      position: relative;
      padding-bottom: 2rem;
      margin-bottom: 0;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 40%;
        height: 3px;
        bottom: 0;
        background-color: #000;
      }

      .social-links {
        margin-top: 1rem;
      }

      h2 {
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1.3rem;
      }

      p {
        margin-bottom: .3rem;
        font-size: 1.05rem;
      }
    }

    &-content {

    }

    &-videos {
      &-list {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // grid-gap: 1rem;

        .yt-player {
          min-height: 300px;
        }
      }
    }
  }
}
