.page-artist {
  div[class^="artist-"] {
    margin-bottom: 1.5rem;
    h2 {
      margin-bottom: 1rem;
    }
  }

  .artist {

    &-img {
      height: 20rem;
      background-position: center;
      background-size: cover;

      // img {
      //   width: 100%;
      //   min-height: 100%;
      // }
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
    }

    &-content {

    }

    &-videos {
      &-list {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // grid-gap: 1rem;

        .yt-player {
          min-height: 300px;
        }
      }
    }
  }
}
