* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Provicali";
  src: url("~assets/fonts/Provicali.otf") format("opentype");
 }

.v-application ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

a {
  color: auto;
  text-decoration: none;
}

.circle-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #fff;
}

// Titles

h1, h2, h3, h4 {
  font-family: 'Provicali';
}


// input[type="text"], input[type="password"] {
//   background-color: $primary;
//   border-radius: .2rem;
//   padding: 0.2rem;
//   color: $white;
// }

// button, button[type="submit"] {
//   background-color: $primary;
//   color: $white;
//   padding: .5rem;
//   margin-top: .7rem;
// }