header {
  // .container {
    position: fixed;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    padding: 1rem 2rem;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 230px;
      height: 230px;
      padding: .5rem;
      margin: 0 auto;
      background: linear-gradient(150deg, $blue 50%, $secondary 85%);
      border-radius: 100%;

      > svg {
        height: 80%;
      }
    }

    .links {
      position: absolute;
      top: 1rem;
      right: 2rem;

      .social-links {
        width: 6rem;
        display: flex;
        justify-content: space-between;
      }
    }
  // }
}
