.artists-container {
  height: 100vh;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 260px;
    margin: 2rem auto 3rem;
    padding: .5rem;
    background: linear-gradient(150deg, $blue 33%, $primary 50%, $secondary 85%);
    border-radius: 100%;

    > svg {
      height: 80%;
    }
  }

  .artists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
  }
}
