.artists {
  padding: 1rem 1.5rem;
  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    grid-gap: 1.5rem;
    justify-content: center;

    @media screen and  (max-width: 600px) {
      grid-template-columns: repeat(auto-fill, 20rem);
      grid-gap: 1rem;
    }
  }
}
