.social-links {
  display: flex;
  justify-content: flex-start;
  height: 100%;

  li {
    padding: .3rem;
    background-color: $secondary;
    border-radius: 100%;
    margin-right: .7rem;
    transition: all .3s linear;

    a i {
      color: $primary;
    }

    &:hover {
      background-color: $primary;

      a i {
        color: $secondary;
      }
    }
  }
}