.container {

  h2, h3 {
    margin-bottom: 1rem;
  }

  .contact-list {
    padding-top: 1rem;
    li {
      position: relative;
      padding: .5rem;
      border-radius: .3rem;
      background-color: $secondary;
      margin-bottom: .5rem;
      button {
        position: absolute;
        top: .3rem;
        right: .3rem;
      }
      p {
        color: $primary;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }
}