.page-admin {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  > .v-navigation-drawer {
    h3 {
      text-align: center;
      margin: .3rem 0;
    }
  }

  .delete-modal {
    padding: .5rem;

    &__card {
      color: #fff
    }
  }
}
