.page-admin {
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;

  .v-app-bar {
    .v-toolbar__content {
      h2 {
        color: #fff;
        font-weight: normal;
      }

      .links {
        ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          width: 130px;
          a, li {
            font-size: 1.2rem;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }

  > aside {
    position: relative;
    background-color: $secondary;
    transition: all .3s ease-in-out;
    width: 350px;
    left: 0;
    overflow: hidden;

    h3 {
      text-align: center;
      margin: .3rem 0;
      color: $primary;
    }

    .v-list {
      background-color: $secondary;
    }

    .drop-zone {
      // padding: .3rem;
      border-top: solid 2px $secondary;

      &.invisible {
        display: none;
      }

      &.hovered {
        border-top: dashed 2px $primary;
      }
    }

    .v-list-item {
      height: 2.5rem;
      &.invisible {
        display: none;
      }

      &__title {
        color: $primary;
        font-size: 1rem;
        font-weight: 500;
        height: 100%;
        line-height: 2.5rem!important;
      }
    }

    &.collapsed {
      left: -350px;
      width: 0;
    }
  }

  &-content {
    width: 100%;
    overflow: auto;
  }

  .delete-modal {
    padding: .5rem;

    &__card {
      color: #fff
    }
  }
}
