@keyframes arrowHover {
  0% {
    // transform: translateY(0);
    bottom: 0;
  }

  100% {
    // transform: translateY(1rem);
    bottom: -1rem
  }
}

.diamonds-container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  > svg {
    position: absolute;
    width: 4rem;
    height: 4rem;
    transform: rotate(180deg);
  }
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10rem;
    padding: 1.5rem;
    cursor: pointer;
    &:hover {
      .arrow {
        box-shadow: 4px 4px 4px 2px rgb(241, 209, 153, .6);
        &:before {
          height: 130%;
        }

        &:after {
          width: 130%;
        }
      }
    }
    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      color: &primary;
      margin-bottom: 1rem;
    }

    .arrow {
      width: 2.5rem;
      height: 2.5rem;
      position: relative;
      transform: rotate(45deg);
      border-bottom: solid 4px $primary;
      border-right: solid 4px $primary;
      animation: .5s linear 0s infinite alternate forwards arrowHover;
      transition: box-shadow .3s linear;

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        transition: all .3s ease-in-out;
        background-color: $secondary;
      }

      &:before {
        bottom: 0;
        left: 0;
        width: 4px;
        height: 0;
      }

      &:after {
        top: 0;
        right: 0;
        width: 0;
        height: 4px;
      }
    }

    // Arrow svg style
    // .arrow {
    //   fill: $primary;
    //   position: relative;
    //   width: 5rem;
    //   height: 4rem;
    //   margin-top: 1rem;
    //   transition: all .3s linear;
    // }
  }

}